@font-face {
    font-family: Valorant;
    src: url(../sources/valorant.ttf);
}

@media screen and (min-width:1800px) {
    body {
        background-color: #3a2d22;
    }
}

@media print {
    * {
        background-color: white !important;
        color: #000 !important;
        opacity: 1 !important;
        text-align: left !important;
    }
}

*{
    margin: 0;
    padding: 0;
    font-family: Valorant;
}

body{

}

.main>*{
    float: left;
    width: 100%;
}

.logo, .topmenu {
    display: inline-block;
}

.topmenu li{
    margin-right: 20px;
    display: inline-block;
    margin-top: 15px;
}

.topmenu li a {
    text-decoration: none;
    color: #FFFBF5;
    font-size: 15px;
}

.topmenu li a:hover {
    text-decoration: none;
    color: #FD4556;
    font-size: 15px;
}

header{
    width: 100%;
    display: flex;
    justify-content: center;
    background: #000000;
}

.logo{
    margin-right: 30px;
}

footer{
    margin: 0 auto;
    display: block;
    width: 100%;
    background: #000000;
    color: white;
}

.bottom_links, .rights_reserved{
    justify-content: center;
    display: flex;
}

.bottom_links li{
    display: inline-block;
}

.bottomcontent, .bottomvideo {
    display: inline-block;
}

.rights_reserved{
    font-size: 10px;
}

.rights_reserved p{
    margin-top: 8px;
    margin-bottom: 0;
}

.topnav h1 {
    margin-top: 80px;
    justify-content: center;
    display: flex;
    color: white;
    text-shadow: black 2px 3px 4px;
    font-size: 37px;
}

.topnav{
    background-image: url(../sources/valorant-gun-splash.jpg);
    height: 700px;
    width: 100%;
}

.chapter_header{
    background: black;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 60px;
    color:white;
}

.chapter_title{
    justify-content: center;
    padding-top: 30px;
    margin-left: 50px;
}

.chapter_logo, .chapter_title{
    display: inline-block;
}

.chapter_content{
    background: black;
    color: white;
    width: 100%;
}

.chapter_text{
    width: 20%;
    background: #53212B;
    padding: 3%;
    margin-left: 10%;
    margin-top: 50px;
}

.chapter_photos{
    max-width: 100px;
    margin-left: 70px;
    padding-top: 15px;
}
.chapter_photos img{
    margin-bottom: 15px;
}

.chapter_text, .chapter_photos{
    display: inline-block;
}

.topmenu a.active{
    color: #FD4556 ;
}
